<div class="flex flex-col items-center mr-[200px]">
  <div class="text-center">
    <img src="assets/illu/ufo.svg" alt="UFO illustration" width="300" height="200" class="items-center ml-[90px]"/>
    <div class="tracking-widest mt-4 mr-6">
      <span class="text-gray-500 text-6xl block">4 0 4</span>
      <span class="text-gray-500 text-xl block mt-2">Sorry, We couldn't find what you are looking for!</span>
    </div>
  </div>
  <div class="mt-6">
    <a href="/" class="font-mono text-xl border p-3 rounded-md hover:shadow-md">Go back</a>
  </div>
</div>

