button {
  padding: 10px 20px;
  border: none;
  border-radius: 7px;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s;
}
.primary {
  background-color: #01af01;
  color: white;
}
.primary:hover {
  background-color: #00b33c00;
  border:#01af01 solid 1px;
  border-color: #01af01;
  color:black;
}
.secondary {
  background-color: #6c757d;
  color: white;
}
.secondary:hover:not(:disabled) {
  background-color: #545b62;
}
