<ng-container *ngIf="isAuthenticated">
  <mat-toolbar color="primary">
    <button mat-icon-button aria-label="Menu icon" (click)="toggleMenu()">
      <mat-icon>menu</mat-icon>
    </button>
    <div class="flex text-2xl items-center justify-center ml-[20px]">Invoicing App</div>
    <div class="app-spacer"></div>
    <div class="User_Menu">
      <!-- <div class="user border-t flex p-3" *ngIf="user">
        <img class="h-10 w-10 rounded-md cursor-pointer" src="https://images.unsplash.com/photo-1472099645785-5658abf4ff4e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80" alt="" />
        <div [ngClass]="{'w-52 ml-3': expanded, 'w-0': !expanded}"
             class="flex flex-col justify-between items-start overflow-hidden transition-all">
          <div class="leading-4">
            <h4 class="font-semibold">{{user.firstName}} {{user.lastName}}</h4>
            <span class="block">{{user.email}}</span>
            <span *ngIf="user.company" class="block text-sm text-gray-500">{{user.company}}</span>
          </div>
          <button (click)="logout()" class="mt-2 px-3 py-1 bg-red-500 text-white rounded hover:bg-red-600 transition-colors">
            Logout
          </button>
        </div>
      </div> -->
      <nav class="relative flex justify-end items-center w-auto h-8 text-white  bg-purple-500 backdrop-filter backdrop-blur-lg bg-opacity-30 p-5 rounded mr-[20px]" *ngIf="user">

        <div (click)="toggleProfileMenu()" class="profile relative flex justify-center items-center gap-2.5 cursor-pointer">

            <div class="text-end font-semibold leading-[1em] text-[#fff]">

                <h3>{{user.firstName}} {{user.lastName}}</h3>

            </div>

            <!-- <div class="relative w-[50px] h-[50px] bg-gradient-to-tl from-blue-100 via-violet-700 to-sky-800 overflow-hidden rounded-[50%]"></div> -->
            <img class="h-10 w-10 rounded-full cursor-pointer" src="https://images.unsplash.com/photo-1472099645785-5658abf4ff4e?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80" alt="" />

        </div>

        <div [ngClass]="{'opacity-0 invisible': !isMenuOpen, 'opacity-100 visible': isMenuOpen}" class="menu absolute w-[200px] min-h-[100px] bg-white shadow-[0_50px_50px_rgba(0,0,0,0.1)] transition-[0.5s] right-0 top-[calc(100%_+_30px)] before:content-[''] before:absolute before:w-5 before:h-5 before:bg-white before:rotate-45 before:right-[35px] before:-top-2 list-none">

            <ul class="relative flex flex-col bg-white z-10 text-sm">
                <li class="transition-[0.5s] px-5 py-[15px] hover:bg-neutral-100 hover:transition-[0s] list-none">
                    <a href="#" class="flex items-center gap-2.5 no-underline text-[#555]">
                      <lucide-icon name="user"></lucide-icon> Profile
                  </a>
                </li>
                <li class="transition-[0.5s] px-5 py-[15px] hover:bg-neutral-100 hover:transition-[0s] list-none">
                    <a href="#" class="flex items-center gap-2.5 no-underline text-[#555]">
                      <lucide-icon name="settings"></lucide-icon>Settings
                    </a>
                </li>
                <li class="cursor-pointer transition-[0.5s] px-5 py-[15px] hover:bg-red-600 hover:text-white hover:transition-[0s] list-none border-t">
                    <a (click)="logout()" class="flex items-center gap-2.5 no-underline text-[#555] hover:text-white hover:transition-[0s]">
                      <lucide-icon name="log-out"></lucide-icon>Logout
                    </a>
                </li>

            </ul>

        </div>

    </nav>
    </div>
  </mat-toolbar>
  <mat-sidenav-container autosize>
    <mat-sidenav [mode]="isMobile ? 'over' : 'side'" [opened]="isMobile ? 'false' : 'true'">
        <app-nav-item
          *ngFor="let link of dashlinksWithActive"
          [icon]="link.icon"
          [path]="link.path"
          [title]="link.title"
          [active]="link.active"
          [expanded]="expanded">
        </app-nav-item>

    </mat-sidenav>
    <mat-sidenav-content class="container md:pl-[20px] mt-[30px]">
      <router-outlet></router-outlet>
    </mat-sidenav-content>
  </mat-sidenav-container>
</ng-container>
<ng-container *ngIf="!isAuthenticated">
  <div>
    <ng-container *ngIf="isLoginMode; else registerMode">
      <app-login  (toggleMode)="toggleMode()">
      </app-login>
    </ng-container>
    <ng-template #registerMode>
      <app-register (toggleMode)="toggleMode()"></app-register>
    </ng-template>
    <!-- <div>
      <a (click)="toggleMode()" [ngClass]="{'flex mx-[16vw] lg:w-2/4':isLoginMode }" class="cursor-pointer underline text-blue-700">{{ isLoginMode ? 'Dont have an account? Register' : 'Already have an account? Login' }}</a>
    </div> -->
  </div>
</ng-container>


