<div class="container ">
  <div class="page-header">
    <div class="font-semibold text-3xl">Customers</div>
</div>
  <div class="flex flex-col lg:flex-row lg:items-center">
  <input class="flex w-[60vw] lg:w-[25vw] ml-3 lg:ml-0 p-2" placeholder="Search..." [(ngModel)]="customerParams.searchTerm" (ngModelChange)="searchCustomer()"/>
  <div class="mb-4 text-center lg:text-right lg:ml-[30%]">
    <button [routerLink]="['/customer/create']" class="w-full lg:w-[20vw] px-6 py-2 bg-green-600 text-white rounded-md mt-3">Create Customer</button>
  </div>
  </div>
      <div class="w-auto sm:overflow-x-auto lg:overflow-x-hidden px-2 sm:px-0">
        <table class="w-full md:w-[80vw] bg-white text-xs sm:text-sm md:text-base md:ml-[0px]">
          <thead class="border-b">
            <tr class="text-left">
              <th class="p-2 sm:p-3">#</th>
              <th class="p-2 sm:p-3">Full Name</th>
              <th class="p-2 sm:p-3">Company</th>
              <th class="p-2 sm:p-3">Phone</th>
              <th class="p-2 sm:p-3">Actions</th>
            </tr>
          </thead>
          <tbody>
            @for(customer of (customers$ |async); track customer){
              <tr class="duration-300 ease-in-out hover:bg-neutral-100 dark:border-neutral-200 dark:hover:bg-neutral-200">
                <td class="p-2 sm:p-3">{{ customer.id }}</td>
                <td class="p-2 sm:p-3">
                  <div class="flex flex-col">
                    <div>{{customer.fullName}}</div>
                    <div class="hidden sm:block text-xs text-gray-500">{{customer.email}}</div>
                  </div>
                </td>
                <td>{{customer.company}}</td>
                <td class="p-2 sm:p-3 text-xs md:text-sm md:pl-[-20px]">
                  <div class="">{{customer.phone}}</div>
                </td>
                <td class="p-2 sm:p-3">
                  <div class="flex flex-col sm:flex-row space-y-1 sm:space-y-0 sm:space-x-2">
                    <button (click)="editCustomer(customer.id)"class="text-blue-600 hover:underline">Edit</button>
                    <button class="text-red-600 hover:underline">Delete</button>
                  </div>
                </td>
              </tr>
            }
          </tbody>
        </table>
      </div>


    <!-- Pagination Controls -->
   <div class="flex my-8 ml-[57%]">
    <div *ngIf="paginationMetaData" class="flex items-center space-x-4">
      <button
      (click)="onCustomerPageChange(paginationMetaData.currentPage - 1)"
      [disabled]="paginationMetaData.currentPage === 1"
      class="px-4 py-2 text-sm font-medium text-gray-500 bg-white border border-gray-300 rounded-md hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500 disabled:opacity-50 disabled:cursor-not-allowed"
    >
      Previous
    </button>
    <span class="text-xs md:text-sm md:font-medium text-gray-700">
      Page {{paginationMetaData.currentPage}} of {{paginationMetaData.totalPages}}
    </span>

    <button
      (click)="onCustomerPageChange(paginationMetaData.currentPage + 1)"
      [disabled]="paginationMetaData.currentPage === paginationMetaData.totalPages"
      class="px-4 py-2 text-sm font-medium text-gray-500 bg-white border border-gray-300 rounded-md hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500 disabled:opacity-50 disabled:cursor-not-allowed"
    >
      Next
    </button>
    </div>
  </div>
</div>


